
@{
    ViewData["Title"] = "Diagramas";
}

<h3> Documentação</h3> 


 <header> 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Diagrama" asp-action="Index">Diagrama de Classes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Diagrama" asp-action="Telas">Telas do sistema </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Diagrama" asp-action="Banco">Scripts do banco de dados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Diagrama" asp-action="Docx">Documentação em Docx</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
   


    <h5> Telas </h5>
<h6>Produtos</h6>
<img src = "https://docs.google.com/uc?id=1AzncuIyDd5jjOwNQ8AmmWpbUEBhKUe2W">
<h6>Criar Produtos</h6>
<img src = "https://docs.google.com/uc?id=1F8yIyTCyLGUSSsj1bBBk6zXRg-P2xuxw">
<h6>Pedidos</h6>
<img src = "https://docs.google.com/uc?id=11smTUy9o_XNKHGvgJzoWnvuHhmSvNmMg">
<h6>Criar Pedidos</h6>
<img src = "https://docs.google.com/uc?id=1WXtDfdxMoLgPpCZocDCeiEKvsyZB318a">
<h6>Estoque</h6>
<img src = "https://docs.google.com/uc?id=13h0FKyiQfrhlBS6EsxyeGFGV_BzSnMDw">
<h6>Adicionar volumes</h6>
<img src = "https://docs.google.com/uc?id=1ddPwotiOHFnDpG12364A4jfKg-wYVGG8">
<h6>Clientes</h6>
<img src = "https://docs.google.com/uc?id=1_MFSvhIpNjE3UEUh7up9XRFjmIcK-FIz">
<h6>Criar Clientes</h6>
<img src = "https://docs.google.com/uc?id=1ZK0qr9acjZa9_C70VWTTnNi-KP5ep2Vcng">









